.food_Details {
    justify-content: center;
    flex-direction: column;
}

::before,
*::after {
    box-sizing: border-box
}

.food_lists {
    width: 300px;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #55555536;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
}

.food_lists p {
    background: #fff;
    margin: 0;
    padding: 20px;
    color: rgba(2, 6, 12, 0.75);
    text-align:
        center;
    font-size: 18px;
    font-weight: 500;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 10px;
}

.food_lists span {
    height: 200px;
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.food_lists span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: scale 400ms;
}

.food_lists div {
    overflow: hidden;
    transition: scale 400ms;
    object-fit: cover;


}

.food_lists span:hover img {
    scale: 120%;
}

.food_Details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

.search_icon {
    position: relative;
}

.search_icon svg {
    position: absolute;
    top: 11px;
    left: 20%;
    font-size: 20px;
}

.top_details {
    position: relative;
    margin-top: 40px;
    /* margin-bottom: 40px; */
}

.top_details label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top_details .MuiOutlinedInput-input {
    width: 350px;
    padding-left: 30px;
}

.top_details .MuiInputLabel-root.MuiInputLabel-formControl {
    padding-left: 18px;
    font-size: 13px;
    padding-top: 3px;
}

.top_details .MuiInputLabel-root.MuiInputLabel-formControl[data-shrink="true"] {
    padding-left: 0;
}

.food_orders {
    flex-wrap: wrap;
    display: flex;
    gap: 20px
}

.top_details svg {
    position: absolute;
    top: 9px;
    padding-left: 7px;
}

.food_detail_page h3 {
    display: inline-block;
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    color: #222;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: start;
}

.food_detail_page .detail_meal {
    display: flex;
    max-width: 97%;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
    /* background-color: #cdcdcd7a; */
    /* border: 1px solid #cdcdcd7a; */
}

.food_detail_page .detail_meal img {
    width: 60%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.detail_mealImg {
    width: 100%;
    height: 400px;
}

.food_detail_page .detail_meal .section_Details {
    text-align: start;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

.food_detail_page .detail_meal .section_Details span {
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px;
    color: #999393;
    font-size: 17px;
    line-height: 27px;
}

.food_detail_page .detail_meal .section_Details span::before {
    background-color: #2F294A;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    content: '';
    position: absolute;
    left: 10px;
    top: 10px;
}

.detail_meal {
    /* background: #fff; */
    /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */

}

.food_orders a {
    text-decoration: none;
    height: 100%;
}

.food_lists p label {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: -6px;
    color: #555555de;
}
.food_lists p label svg{color:green}

.Breadcrumb {
    display: flex;
    margin-top: 50px;
    gap: 10px;
}

.Breadcrumb .active {
    color: rgba(0, 0, 0, 0.87);
    font-size: 17px;
    cursor: default;
}

.Breadcrumb a {
    text-decoration: none;
}

.Spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.food_detail_page .detail_meal .section_Details ol {
    display: flex;
    gap: 40px;
    margin: 0;
    flex-wrap: wrap;
}

.food_detail_page .detail_meal .section_Details ol li {
    color: #999393;
    font-size: 17px;
}

.food_detail_page .detail_meal small {
    /* margin-top: 20px; */
    color:#555
}

.moredetails {
    display: flex;
    gap: 10px;
    /* margin-left: 20px; */
    margin-top: 20px;
    flex-direction: column;
}
.moredetails label{display: flex;gap:20px;margin-left: 20px;}

.moredetails a svg {
    font-size: 25px;transition: transform 1s;
}
.moredetails a:hover svg{transform: rotate(1turn);
}   











@media only screen and (max-width: 1024px) {
.food_detail_page .detail_meal{padding: 0;}
.food_detail_page .detail_meal img{width: 100%;}
.food_lists{width: 300px;}
.detail_mealImg{height: 400px;}
}
@media only screen and (max-width: 991px) {
.food_lists{width: 342px;}

}
@media only screen and (max-width: 568px) {
.detail_mealImg{height: 250px;}
.food_lists{width: 350px;}
.top_details .MuiOutlinedInput-input{width: 100%;}
.food_detail_page .detail_meal .section_Details ol {
flex-direction: column;gap:10px
}
}